<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Group A</string>
		<key>children</key>
		<array>
			<dict>
				<key>name</key>
				<string>Poland</string>
				<key>icon</key>
				<string>Poland.png</string>
				<key>wikipedia-url</key>
				<string>https://en.wikipedia.org/wiki/Poland_national_football_team</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Greece</string>
				<key>icon</key>
				<string>Greece.png</string>
				<key>wikipedia-url</key>
				<string>https://en.wikipedia.org/wiki/Greece_national_football_team</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Russia</string>
				<key>icon</key>
				<string>Russia.png</string>
				<key>wikipedia-url</key>
				<string>https://en.wikipedia.org/wiki/Russia_national_football_team</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Czech Republic</string>
				<key>icon</key>
				<string>Czech_Republic.png</string>
				<key>wikipedia-url</key>
				<string>https://en.wikipedia.org/wiki/Czech_Republic_national_football_team</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Group B</string>
		<key>children</key>
		<array>
			<dict>
				<key>name</key>
				<string>Netherlands</string>
				<key>icon</key>
				<string>Netherlands.png</string>
				<key>wikipedia-url</key>
				<string>https://en.wikipedia.org/wiki/Netherlands_national_football_team</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Denmark</string>
				<key>icon</key>
				<string>Denmark.png</string>
				<key>wikipedia-url</key>
				<string>https://en.wikipedia.org/wiki/Denmark_national_football_team</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Germany</string>
				<key>icon</key>
				<string>Germany.png</string>
				<key>wikipedia-url</key>
				<string>https://en.wikipedia.org/wiki/Germany_national_football_team</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Portugal</string>
				<key>icon</key>
				<string>Portugal.png</string>
				<key>wikipedia-url</key>
				<string>https://en.wikipedia.org/wiki/Portugal_national_football_team</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>name</key>
				<string>Spain</string>
				<key>icon</key>
				<string>Spain.png</string>
				<key>wikipedia-url</key>
				<string>https://en.wikipedia.org/wiki/Spain_national_football_team</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Italy</string>
				<key>icon</key>
				<string>Italy.png</string>
				<key>wikipedia-url</key>
				<string>https://en.wikipedia.org/wiki/Italy_national_football_team</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Republic of Ireland</string>
				<key>icon</key>
				<string>Ireland.png</string>
				<key>wikipedia-url</key>
				<string>https://en.wikipedia.org/wiki/Republic_of_Ireland_national_football_team</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Croatia</string>
				<key>icon</key>
				<string>Croatia.png</string>
				<key>wikipedia-url</key>
				<string>https://en.wikipedia.org/wiki/Croatia_national_football_team</string>
			</dict>
		</array>
		<key>name</key>
		<string>Group C</string>
	</dict>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>name</key>
				<string>Ukraine</string>
				<key>icon</key>
				<string>Ukraine.png</string>
				<key>wikipedia-url</key>
				<string>https://en.wikipedia.org/wiki/Ukraine_national_football_team</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Sweden</string>
				<key>icon</key>
				<string>Sweden.png</string>
				<key>wikipedia-url</key>
				<string>https://en.wikipedia.org/wiki/Sweden_national_football_team</string>
			</dict>
			<dict>
				<key>name</key>
				<string>France</string>
				<key>icon</key>
				<string>France.png</string>
				<key>wikipedia-url</key>
				<string>https://en.wikipedia.org/wiki/France_national_football_team</string>
			</dict>
			<dict>
				<key>name</key>
				<string>England</string>
				<key>icon</key>
				<string>England.png</string>
				<key>wikipedia-url</key>
				<string>https://en.wikipedia.org/wiki/England_national_football_team</string>
			</dict>
		</array>
		<key>name</key>
		<string>Group D</string>
	</dict>
</array>
</plist>
